<span
  class="bg-blue-500/10 border-blue-600 dark:border-blue-400 text-blue-600 dark:text-blue-400 print:p-0 print:bg-transparent print:text-zinc-950 flex gap-1 items-center border-solid print:border-none border rounded-md px-2 py-1 text-sm"
>
  <slot />
</span>
